*{
    margin: 0;

    color: #1a9dd9;
    font-family: Helvetica, sans-serif;
}

.background{ 
    position: fixed;

}

header{
    display: flex;
    position: fixed;

    z-index: 1;

}
.logo{
    width: 45vw;
    margin-top: 18vh;
    margin-left: 3vw;
}


.menu ul {
    display: flex;
    list-style-type: none;
    
}

.menu li {
    width: 5vw;
    margin-right: 2.5vw;
    margin-top: 4vh;
    padding: 1vh 2.5vw ;

    text-align: center;
    background-color: white;

    border-radius: 20px;
    box-shadow: 1px 1px 20px #1a9dd9;

}

.menu li:hover{
    width: 5vw;
    margin-right: 2.5vw;
    margin-top: 4vh;
    padding: 1vh 2.5vw ;

    text-align: center;

    background-color: #1a9dd9;
    color: white;

    border-radius: 20px;
    box-shadow: 1px 1px 20px #1a9dd9;

}
main{
    position: absolute;
    width: 48vw;
    margin-left: 50vw;
    margin-top: 20vh;

}
.overons{
    width: 30vw;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh 3vw;

    background-color: white;

    border-radius: 20px;
    box-shadow: 1px 1px 20px #1a9dd9;

}
.overons p {
    text-align: center;

}

.geraas{
    width: 30vw;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh 3vw;

    background-color: white;

    border-radius: 20px;
    box-shadow: 1px 1px 20px #1a9dd9;

}

.geraas img{
    width: 30vw;
}

.geraas p {
    padding-bottom: 3vh;
}

.residentie{
    width: 30vw;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh 3vw;

    background-color: white;

    border-radius: 20px;
    box-shadow: 1px 1px 20px #1a9dd9;
}

.optie{
    display: flex;
    flex-wrap: wrap;
}
.optie h1{
    width: 39vw;
    margin-top: 4vh;

    text-align: center;
}
.optie div{
    width: 15vw;
    margin-top: 3vh;
}
.optie ul{
    margin-top: 2vh;
}

.residentie button{
    margin-top: 4vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;

    padding: 1vh 2vw;
    background-color: white;
    border-radius: 20px;
    border-color: white;
    color: #1a9dd9;
    border-style: solid;
    box-shadow: 1px 1px 20px #1a9dd9;

    text-align: center;
}

.residentie button:hover{
    margin-top: 4vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;

    padding: 1vh 2vw;
    background-color: #1a9dd9;
    border-radius: 20px;
    border-color: #1a9dd9;
    color: white;
    border-style: solid;
    box-shadow: 1px 1px 20px #1a9dd9;

    text-align: center;
}

.contact {
    width: 30vw;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh 3vw;

    background-color: white;

    border-radius: 20px;
    box-shadow: 1px 1px 20px #1a9dd9;

}