*{
    margin: 0;

    color: #1a9dd9;
    font-family: Helvetica, sans-serif;

}

body{
    width: 100vw;
    overflow: overlay;
    background-image: url("img/plattegrond.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

/* .background{ 
    position: fixed;
    width: 100vw;
    height: 100vh;
} */


img { 
    fill: #1a9dd9;
}
a {
    text-decoration: none;
}

h1{
    font-family: "marola";
    font-size: 2.5vw;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
}

/* Scrollbar Styling */
body::-webkit-scrollbar {
  background-color: transparent;  
  border-radius: 10px;
  width: 15.5px;
}
  
body::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  background-color: transparent;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #1a9dd9; 
}


/** OVERLAY **/

.overlay{
    z-index: 2;
    position: fixed;
    padding: 8vh 5vw;

    width: 90vw;
    height: 100vh;

    background-color: #1a9dd94c;  

}

.overlay ul{
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;

}
.overlay li {
    height: 40vh;
    margin-bottom: 5vh;
}

.overlay img{
    max-width: 100%;
    max-height: 100%;


    border-radius: 20px;
    box-shadow: 2px 2px 20px #1a9dd9

    
}

/** WEBSITE **/

header{
    position: fixed;

    z-index: 1;

}
.logo{
    width: 45vw;
    margin-top: 18vh;
    margin-left: 3vw;

    position: fixed;
}


.menu ul {
    display: flex;
    list-style-type: none;
    margin-left: 51vw;
    
}

.menu li {
    width: 8vw;
    margin-right: 2vw;
    margin-top: 4vh;
    padding: 1vh 2vw ;

    text-align: center;
    background-color: white;

    border-radius: 20px;
    box-shadow: 1px 1px 20px #1a9dd9;

    font-family: "marola";
    font-size: 1.5vw;

}

.menu li:hover{
    width: 8vw;
    margin-right: 2vw;
    margin-top: 4vh;
    padding: 1vh 2vw ;

    text-align: center;

    background-color: #1a9dd9;
    color: white;

    border-radius: 20px;
    box-shadow: 1px 1px 20px #1a9dd9;

    font-family: "marola";
    font-size: 1.5vw;

}


/**MAIN**/

main{
    position: absolute;
    width: 48vw;
    margin-left: 50vw;
    margin-top: 20vh;

}

.extra{
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh 3vw;

    text-align: center;

    background-color: white;

    border-radius: 20px;
    box-shadow: 1px 1px 20px #1a9dd9;

}

.extralogo{
    width: 36vw;
    margin-left: -3vw;
    margin-top: -1vh;
    border-radius: 20px 20px 0 0;


}

.extra p {
    padding-bottom: 3vh;
    margin-top: 3vh;
}

/* .clubderive{
    margin-top: 5vh;
    width: 36vw;
    margin-left: 6vw;
}

.clubderive img{
    width: 36vw;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #1a9dd9;
} */

.knop{
    display: flex;
    justify-content: center;
}

.knop button{
    margin-top: 2vh;
    margin-bottom: 3vh;
    padding: 1vh 2vw;
    
    background-color: white;

    font-family: 'Poppins', sans-serif;

    border-radius: 20px;
    border-color: white;
    color: #1a9dd9;
    border-style: solid;
    box-shadow: 1px 1px 20px #1a9dd9;

    text-align: center;
}

.knop button:hover{
    margin-top: 2vh;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Poppins', sans-serif;


    padding: 1vh 2vw;
    background-color: #1a9dd9;
    border-radius: 20px;
    border-color: #1a9dd9;
    color: white;
    border-style: solid;
    box-shadow: 1px 1px 20px #1a9dd9;

    text-align: center;
}


.overons{
    width: 30vw;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh 3vw;

    text-align: center;

    background-color: white;

    border-radius: 20px;
    box-shadow: 1px 1px 20px #1a9dd9;

}
.overons p {
    text-align: center;
    margin-bottom: 2vh;

}

.overons h1{
    margin-top: 3vh;
    margin-bottom: 2vh;
}

/* .geraas{
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh 3vw;

    text-align: center;

    background-color: white;

    border-radius: 20px;
    box-shadow: 1px 1px 20px #1a9dd9;

}

.geraasfoto{
    width: 30vw;
}

.geraaslogo{
    width: 36vw;
    margin-left: -3vw;
    margin-top: -1vh;
    border-radius: 20px 20px 0 0;


}

.geraas p {
    padding-bottom: 3vh;
    margin-top: 2vh;
} */

.residentie{
    width: 30vw;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh 3vw;

    background-color: white;

    border-radius: 20px;
    box-shadow: 1px 1px 20px #1a9dd9;
}

.residentie li {
    font-family: 'Poppins', sans-serif;
}

.optie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.optie h1{
    width: 39vw;
    margin-top: 4vh;

    text-align: center;
}
.optie div{
    width: 15vw;
    margin-top: 3vh;
}
.optie ul{
    margin-top: 2vh;
}

.optie button{
    margin-top: 4vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh 2vw;
    
    background-color: white;

    font-family: 'Poppins', sans-serif;

    border-radius: 20px;
    border-color: white;
    color: #1a9dd9;
    border-style: solid;
    box-shadow: 1px 1px 20px #1a9dd9;

    text-align: center;
}

.optie button:hover{
    margin-top: 4vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Poppins', sans-serif;


    padding: 1vh 2vw;
    background-color: #1a9dd9;
    border-radius: 20px;
    border-color: #1a9dd9;
    color: white;
    border-style: solid;
    box-shadow: 1px 1px 20px #1a9dd9;

    text-align: center;
}

.contact {
    width: 30vw;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh 3vw;

    background-color: white;

    border-radius: 20px;
    box-shadow: 1px 1px 20px #1a9dd9;

    text-align: center;
}
.contact h1{
    margin-top: 3vh;
}
.contact img{
    margin-bottom: 5vh;
}

.contact ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin-top: 2vh;
    fill: #1a9dd9;

    padding: 0;    
}

.contact img{
    fill: #1a9dd9;
    color: #1a9dd9;
}
.oh2{
    margin-top: 3vh;
}
.openings{
    width: 20vw;
    height: auto;
    margin-top: 1vh;
}
.map{
    width: 30vw;
    height: 30vh;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh 3vw;

    background-color: white;

    border-radius: 20px;
    box-shadow: 1px 1px 20px #1a9dd9;
 
}

.marker {
    background-image: url('img/werkhuis-logo.png');
    background-size: cover;
    width: 2vw;
    height: 3vh;
    cursor: pointer;
}

.partners{
    width: 30vw;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    padding: 1vh 3vw;
    
    background-color: white;
  
    border-radius: 20px;
    box-shadow: 1px 1px 20px #1a9dd9; 
    
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.partners img{
    width: 20%;
    height: 20%;
    padding: 3vh 3vw;
}
.partners h1{
    width: 100%;
    margin-top: 3vh;
}

@media only screen and (max-width: 600px) {
    body{
        width: 100vw;
        overflow: overlay;
        background-image: url("img/plattegrond2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
    }
    .overlay{
        display: none;
    }

    img{
        fill:#1a9dd9;
    }

    h1{
        font-family: "marola";
        font-size: 6vw;
    }
    
    h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 3.5vw;

    }
    
    p{
        font-family: 'Poppins', sans-serif;
        font-size: 3vw;
    }
    li{
        font-family: 'Poppins', sans-serif;
        font-size: 3vw;
    }

    header{
        margin-top: 1vh;
        position: fixed;
        width: 100vw;
        display: flex;
        align-items: center;
        
    }
    .logo{
        margin-top: 1vh;
        margin-left: 5vw;
        width: 15vw;
        position: relative;
    }

    .menu ul {
        display: flex;
        list-style-type: none;
        margin-left: 3.5vw;
        padding-left: 0;
        
    }
    
    .menu li {
        width: 19vw;
        margin-top: 0;
        padding: 1vh 2vw ;
    
        text-align: center;
        background-color: white;
    
        border-radius: 20px;
        box-shadow: 1px 1px 20px #1a9dd9;
    
        font-family: "marola";
        font-size: 3.5vw;
    
    }
    
    .menu li:hover{
        width: 15vw;
        padding: 1vh 2vw ;
    
        text-align: center;
    
        background-color: #1a9dd9;
        color: white;
    
        border-radius: 20px;
        box-shadow: 1px 1px 20px #1a9dd9;
    
        font-family: "marola";
        font-size: 3.5vw;
    
    }
    main{
        position: absolute;
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
    
    }
    .clubderive{
        margin-top: 5vh;
        margin-left: 14vw;
    }
    
    .clubderive img{
        width: 71vw;
        border-radius: 20px;
        box-shadow: 1px 1px 20px #1a9dd9;
    }

    .overons{
        width: 65vw;
        margin-top: 5vh;
        margin-left: auto;
        margin-right: auto;
        padding: 1vh 3vw;
    
        text-align: center;
    
        background-color: white;
    
        border-radius: 20px;
        box-shadow: 1px 1px 20px #1a9dd9;
    
    }
    .overons p {
        text-align: center;
        margin-bottom: 2vh;
    
    }
    
    .overons h1{
        margin-top: 3vh;
        margin-bottom: 2vh;
    }
    
    .geraas{
        width: 65vw;
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
        padding: 1vh 3vw;
    
        text-align: center;
    
        background-color: white;
    
        border-radius: 20px;
        box-shadow: 1px 1px 20px #1a9dd9;
    
    }
    
    .geraasfoto{
        width: 30vw;
    }
    
    .geraaslogo{
        margin-left: -3vw;
        width: 71vw;
    }
    
    .geraas p {
        padding-bottom: 3vh;
    }
    
    .residentie{
        width: 65vw;
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
        padding: 1vh 3vw;
    
        background-color: white;
    
        border-radius: 20px;
        box-shadow: 1px 1px 20px #1a9dd9;
    }
    
    .residentie li {
        font-family: 'Poppins', sans-serif;
    }
    
    .optie{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .optie h1{
        width: 100vw;
        margin-top: 4vh;
    
        text-align: center;
    }
    .optie div{
        margin-left: 2vw;
        width: 90vw;
        margin-top: 3vh;
    }
    .optie ul{
        margin-top: 2vh;
    }
    
    .optie button{
        margin-top: 4vh;
        margin-bottom: 5vh;
        margin-left: auto;
        margin-right: auto;
        padding: 1vh 2vw;
        
        background-color: white;
    
        font-family: 'Poppins', sans-serif;
    
        border-radius: 20px;
        border-color: white;
        color: #1a9dd9;
        border-style: solid;
        box-shadow: 1px 1px 20px #1a9dd9;
    
        text-align: center;
    }
    
    .optie button:hover{
        margin-top: 4vh;
        margin-bottom: 5vh;
        margin-left: auto;
        margin-right: auto;
    
        font-family: 'Poppins', sans-serif;
    
    
        padding: 1vh 2vw;
        background-color: #1a9dd9;
        border-radius: 20px;
        border-color: #1a9dd9;
        color: white;
        border-style: solid;
        box-shadow: 1px 1px 20px #1a9dd9;
    
        text-align: center;
    }
    
    .contact {
        width: 65vw;
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
        padding: 1vh 3vw;
    
        background-color: white;
    
        border-radius: 20px;
        box-shadow: 1px 1px 20px #1a9dd9;
    
        text-align: center;
    }

    .contact img{
        fill: #1a9dd9;
        color: #1a9dd9;
        margin-bottom: 1vh;
    }
    
    .contact ul{
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        margin-top: 2vh;
        fill: #1a9dd9;
        margin: 0; 
        height: auto;  
    }
    .contact li img{
        height: 4vh;
        fill: #1a9dd9;
        color: #1a9dd9;
    }

    .oh2{
        margin-top: 3vh;
    }
    .openings{
        width: 50vw;
        margin-top: 1vh;
    }
    .map{
        width: 65vw;
    
    }

    
    .partners{
        width: 65vw;
    }
    


}